
__pycache__/
*.py[cod]
*$py.class


venv/
.env/
.env.*
.venv/
ENV/
env/


.vscode/
.idea/
.spyderproject
.spyproject


.DS_Store
Thumbs.db


*.log
*.tmp


build/
dist/
*.egg-info/
.eggs/


.ipynb_checkpoints/


output/
generated_decks/
cache/

*.mp3
.env
*.apkg

!.env.example
*.txt
!words.txt